<!-- this is the footer section  -->
<div class="container-fluid" id="footer">
    <h2>Contact Us</h2>
    <div class="row">
      <div class="col-6 col-md-4">
        <p><i class="fas fa-phone-square-alt fa-lg"></i>+91-8981600800</p>
        <p><i class="fas fa-fax fa-lg"></i>1000219281</p>
         <p><i class="fas fa-envelope fa-lg"></i>viaair5@gmail.com</p>
      </div>
      <div class="col-6 col-md-4">
       <p><i class="fas fa-map-pin fa-lg"></i>Kolkata, WB</p>
       <p>112-A India</p>
       <p><i class="fas fa-question-circle fa-lg"></i>FAQ</p>
      </div>
      <div class="col-12 col-md-4 justify-content-center align-items-center text-center">
         <a class="btn btn-social-icon btn-google" href="#"><i class="fab fa-google-plus footer-icon"></i></a>
         <a class="btn btn-social-icon btn-facebook" href="#"><i class="fab fa-facebook-f footer-icon"></i></a>
         <a class="btn btn-social-icon btn-twitter" href="#"><i class="fab fa-twitter footer-icon"></i></a>
         <a class="btn btn-social-icon btn-google" href="#"><i class="fab fa-youtube footer-icon"></i></a>
      </div>
    </div>
    </div>

   
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>