<%- include("partials/authheader") %>
<div class="container div-content">
    <h1 style="padding-top: 50px;">Passenger Details Form</h1>
    <div class="container container-custom" style="margin-top: 30px;">
        <form action="/confirmation" method="post">
           <% for( let index = 1; index <= passengers; index++ ) { %>
                <div class="row col-custom">
                    <div class="col-12">
                     <label class="passenger-info">Passenger <%= index %> </label>
                    </div>
                  <div class="col-12 col-md-6 col-custom">
                    <input type="text" class="form-control" name="fname" placeholder="First name" required>
                  </div>
                  <div class="col-12 col-md-6 col-custom">
                    <input type="text" class="form-control" name="lname" placeholder="Last name" required>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6 col-custom">
                    <select class="form-control" name="gender">
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                            <option value="T">Transgender</option>
                            <option value="Other">Other</option>
                      </select> 
                  </div>
                  <div class="col-6 col-custom">
                    <input type="text" name="age" class="form-control" placeholder="Age" required pattern="[0-9]{2}" title="Enter 2 digit numeric value like 05, 76">
                  </div>
                </div>            
            <% } %>
                <div class="col-custom">
                    <button class="btn btn-outline-dark btn-lg" type="reset">Reset <i class="fas fa-times-circle"></i> </button>
                    <button class="btn btn-primary btn-lg" type="submit" data-toggle="tooltip" data-placement="bottom" title="please use the same information as in your ID proof issued by Govt">Confirm Details <i class="fas fa-check-circle"></i></button>     
                </div>
       </form>
    </div>
</div>
<%- include("partials/footer") %>