<%- include("partials/header") %>
<div class="container d-flex align-items-center justify-content-center" style="height: 98vh;">
    <form action="/forgotpasswordpg1" method="post">
            <div class="form-group">
              <label>Email address associated with account</label>
              <input type="email" name="mail" class="form-control" id="forgotmail" required>
              <small style="color: red;"> <%= errorMsg %> </small>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<%- include("partials/footer") %>