<%- include("partials/header") %>
<div class="container d-flex align-items-center justify-content-center"  style="height: 98vh;">
    <form action="/forgotpasswordpg2" method="POST">
        <div class="form-group">
          <label>Enter OTP</label>
          <input type="password" name="otp" class="form-control" required>
          <small style="color: red;"> <%= errorMsg %> </small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
<%- include("partials/footer") %>