<%- include("partials/header") %>
<div class="jumbotron jumbotron-fluid d-flex align-items-center justify-content-center"  style="height: 98vh;">
    <div class="container">
      <h1 class="display-4"> <i class="fas fa-check-square" style="color: seagreen;"></i>Password has been changed</h1>
      <p class="lead">Please go back to home page and try log in again.</p>
    </div>
  </div>
<%- include("partials/footer") %>