<%- include("partials/header") %>
<div class="container d-flex align-items-center justify-content-center"  style="height: 98vh;">
    <form action="/resetpassword" method="POST">
        <div class="form-group">
          <label>Enter New Password</label>
          <input type="password" name="newpassword" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
<%- include("partials/footer") %>