<%- include("partials/header") %>

<div class="container-fluid align-items-center justify-content-center" id="signup-container">
  <h1 class="text-center">Sign Up with <i class="fa fa-plane-departure"></i>Travelair</h1>
  <div class="row justify-content-center">
<div class="col-sm-12 col-md-4" id="signup-img"></div>
<div class="col-sm-12 col-md-6">
  <form action="/signup" class="bg-light" id="signup-form" style="padding: 10px; border-radius: 4px;" method="POST">
    <div class="row">
     <div class="col-12 col-custom col-md-4">
      <label>First Name</label>
     </div>
     <div class="col-12 col-custom col-md-8">
       <input type="text" name="userfname" class="userinput form-control" id="fname">
        <small id="fname-invalid" class="feedback"></small>
     </div>
    </div>
    <div class="row">
      <div class="col-12 col-custom col-md-4">
       <label>Last Name</label>
      </div>
      <div class="col-12 col-custom col-md-8">
        <input type="text" name="userlname" class="userinput form-control" id="lname">
        <small id="lname-invalid" class="feedback"></small>
      </div>
     </div>
     <div class="row">
      <div class="col-12 col-custom col-md-4">
       <label>Email</label>
      </div>
      <div class="col-12 col-custom col-md-8">
        <input type="text" name="userEmail" class="userinput form-control" id="email">
        <small id="email-invalid" class="feedback"></small>
      </div>
     </div>
     <div class="row">
      <div class="col-12 col-custom col-md-4">
       <label>Mobile Number</label>
      </div>
      <div class="col-12 col-custom col-md-8">
        <input type="text" name="userphn" class="userinput form-control" id="phn">
        <small id="phn-invalid" class="feedback"></small>
      </div>
     </div>
     <div class="row">
       <div class="col-12 col-custom col-md-4">
          <label>Date of Birth</label>
       </div>
       <div class="col-12 col-custom col-md-8">
         <input type="date" name="userbday" class="userinput form-control" id="bday">
         <small id="bday-invalid" class="feedback"></small>
        </div>
     </div>
     <div class="row">
       <div class="col-12 col-custom col-md-4">
         <label >Password</label>
       </div>
       <div class="col-12 col-custom col-md-8">
         <input type="password" name="userpass" class="userinput form-control" id="pass">
         <small id="password-invalid" class="feedback"></small>
        </div>
     </div>
     <div class="row">
       <div class="col-12 col-custom col-md-4">
         <label>Confirm Password</label>
       </div>
       <div class="col-12 col-custom col-md-8">
         <input type="password" name="confrmpass" class="userinput form-control" id="confirmpass">
         <small id="confirmpass-invalid" class="feedback"></small>
        </div>
     </div>
     <div class="row">
       <div class="col-12 col-custom text-center">
         <button type="submit" id="signup-btn" class="btn btn-primary">Sign Up</button>
       </div>

     </div>
  </form>
</div>
  </div>
</div>
<script src="/js/formvalidation.js"></script>
<%- include("partials/footer") %>