<%- include("partials/authheader") %>
<div class="jumbotron jumbotron-fluid">
    <div class="container text-center" style="padding: 100px 50px;margin-top: 50px;">
      <h1 class="display-4"><i class="fas fa-check-square" style="color: green;background-color: white;"></i>Thanks for booking</h1>
      <p class="lead">Please do not forget to <a href="/download" class="btn btn-lg btn-primary">Download</a> your tickets.</p>
    </div>
  </div>
  <%- include("partials/footer") %>