body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #e9ecef;
    background-image: url("https://www.transparenttextures.com/patterns/diamond-upholstery.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
h2{
    margin: 0;
    padding: 0;
}
.div-content{
 padding: 50px;
}
.div-content h1
{
    margin: 0 auto;
    width: max-content;
    color: #424242;
    border-bottom: 2px solid dodgerblue;
}
#error-alert{
    position: absolute;
    z-index: 9999;
    top: 15%;
    right: 10%;
}
/* styling the navbar and carousel  */
.fa-plane-departure{
    margin-right: 5px;
}
.carousel-item img{
  object-position: center;
}
nav{
    font-size: larger;
}
.navbar-brand{
 font-size: larger;
}
.nav-link{
    padding-bottom: 5px;
}
.nav-link:hover , .navbar-brand:hover{
    color: dodgerblue;
}
.nav-link:hover{
border-bottom: 2px solid  dodgerblue;
}
.dropdown-menu
{
    border: none;
    outline: none;
    color: white;
    width:max-content;
    transition: all 0.4s ease-in-out;
}
.dropdown-item:hover
{
color: dodgerblue;
}
.carousel-item img{
    filter: grayscale(60%);
}
.carousel-caption{
    position: absolute;
    top: 20%;
}
.carousel-caption h1{
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0  5px;
    width: max-content;
    font-weight: bolder;
    font-size: 6rem;
    margin: 0 auto;
}
.carousel-caption p{
    width: max-content;
    background-color: rgba(0, 0, 0, 0.5);
      font-size: 20px;
    margin: 10px auto;
    padding: 5px;
}
.carousel-caption-custom
{
    background-color: rgba(255, 255, 255, 0.671);
    max-width: fit-content;
    max-height: fit-content;
    margin: 50px auto;
    color:#424242;
    padding: 10px;
    border-radius: 4px;
}
#loginModal .modal-header{
    background-image: -webkit-linear-gradient(#0075FE,#42A5F5);
    color: white;
}
.credentail-err{
    position: absolute;
    top: 50%;
    left: 50%;
}

/* styling our services section  */
#service h1{
    margin-bottom: 30px;
}
.col-custom{
    margin-top: 10px;
}
.col-custom img{
    width: 350px;
    height: 250px;
    border: 5px solid dodgerblue;
}
.col-custom h2 ,.profile-heading{
    color: dodgerblue;
    padding-bottom: 10px;
    border-bottom: 2px solid #424442;
}
#service .row{
    border-radius: 4px;
    margin-bottom: 10px;
}
.col-caption h3{
    border-bottom:2px solid dodgerblue;
}
/* styling the locations recommendations  */
#recommendation ,  .container-custom{
  background-image: -webkit-linear-gradient(#0075FE,#42A5F5);
  padding: 50px;
}
#recommendation h1 , #timer h1{
    color: white;
    padding: 10px;
}
.tabs-area{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.card-title-custom{
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    margin: 0;
}
.card-location
{
    width: 40vw;
    height: 15rem;
    background-size: cover;
    margin-top: 20px;
}
/* styling the timer section  */
.timer-box{
    background-color:#000;
    width:150px;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    padding: 5px;
    border: 5px solid #fff;
}
.timer-foot{
    color: #000;
    background-color: white;
    color: dodgerblue;
}
/* styling out footer section  */
#footer{
    background-color: #424442;
    color: dodgerblue;
    padding-bottom: 10px;
}
#footer h2{
    color: white;
    width: max-content;
    padding: 10px 3px 0;
    margin-bottom: 20px;
    border-bottom: 2px solid dodgerblue;
    margin: 20px auto;
}
.footer-icon{
    color: white;
}

 /* styling the signup page  */
#signup-container{
    padding: 100px 50px;
}
#signup-img{
    background-image: url(/images/signupimg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.error-msg{
    border: 0.5px solid red;
    color: brown;
    border-radius: 3px;
    padding: 2px;
}
.feedback{
    color: red;
    padding:3px 0;
}
.eye-icon{
    position: absolute;
    top: 25%;
    left: 87%;
}
/* profile page  */
#profile-page{
    padding: 100px 0 0 0;
    position: relative;
    bottom: 50px;
}
#profile-inner{
    color: #fff;
}
.profile-heading{
    width: max-content;
    margin: 0 auto;
}

/* booking page 1 styles  */
.form-row{
    padding: 5px 0;
}
.bottom-line{
    padding-top: 4px;
    border-bottom: 2px solid #fff;
    max-width: max-content;
    margin: 0 auto;
}
.booking-form{
    /* background-color: #E9ECEF; */
    border-radius: 6px;
}
.media img{
    width: 100px;
    height: 100px;
}
.grey-text{
    color: grey;
}
/* styling booking page 2 */
.passenger-info{
    background-color: #fff;
    border-bottom: 1px solid #000;
    border-radius: 4px;
    padding: 5px;
    font-weight: bold;
}
/* styling confirmation page  */
.icon-custom{
    color: dodgerblue;
}
.bill-card{
    margin: 30px auto;
}
/* responsive styling  */
@media screen and (max-width: 768px) {
.card-location{
width: 80vw;
}
}
@media screen and (max-width: 650px){
    .carousel-caption h1{
    font-size: 2.5rem;
    }
}